<div>
    <table>
        <thead>
            <tr>
                <th>Add a beautiful Sayban ;)</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><img style="display:none;width:60px;height:60px;" id="smallImage" src="" /></td>
            </tr>
            <tr>
                <td><button onclick="capturePhotoEdit();">Capture Editable Photo</button></td>
            </tr>
            <tr>
                <td><input type="text" ng-name="artist" ng-model="artist" size="30" class="search-query" placeholder="Artist ..."></td>
            </tr>
            <tr>
                <td><input type="text" ng-name="artist" ng-model="artist" size="30" class="search-query" placeholder="Subject ..."></td>
            </tr>
        </tbody>
    </table>

</div>