<div>
    <input type="text" ng-name="search" ng-model="search" size="30" class="search-query" placeholder="numero rapporto">
    <a href="#/list/{{search}}" class="btn-primary">Cerca</a>

    <table>
        <thead>
            <tr>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><a href="#/add" class="btn-primary">add Sayban</a></td>
            </tr>
            <tr>
                <td><a href="#/add" class="btn-primary">show Sayban in Map</a></td>
            </tr>
        </tbody>
    </table>

</div>

